
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Master's students board</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1>Master's Students Board</h1>
<p>Students Payment Tracing App </p>

<h2>Login</h2>

<form method="POST" action="/login">
  <input type="password" name="password" placeholder="Enter password" required>
 <br> <button type="submit">Login</button>
</form>
</body></html>